<h3 class="text-center">Job Postings</h3>

  <% @listings.each do |listing| %>
    <div class="job-posting col-md-4 col-md-offset-4">
      <div class="listing-title">
        <h4><%= listing.title %></h4>
      </div>
      <div>
        Organization: <%= listing.organization %>
      </div><br>
      <div>
        Description: <%= listing.description %> 
      </div><br>

      <div>
        Contact: <%= listing.email %>
      </div>
      <br>
      <div>
        Salary: <%= listing.convert_range(listing.salary) %>
      </div>
      <br>
      <div>Location: <%= listing.city %>, <%= listing.state %></div>
      <br>
      <div class="links">
        <%= link_to 'Show', listing %>
        <%= link_to 'Edit', edit_listing_path(listing) %>
        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %><br>
      </div>
      <br>
    </div>
    <br>
  <% end %>

  <br>

</div>

<%# if current_user %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
  New Listing
  <%# link_to 'New Listing', new_listing_path %>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Listing</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<%# else %>

<!--   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    <%# link_to 'New Listing', sign %>
  </button> -->

  