<h3 class="text-center page-title">Interque Job Postings</h3>

<%# debug listing[:params] %>

<div>
  <% @listings.each do |listing| %>
    <div class="job-posting col-md-4 col-md-offset-4" data-pk="<%= listing.id %>">
      <div>
        <h4 <span class=<%= current_user == listing.user ? "listing-title" : "non-editable" %> data-pk="<%= listing.id %>"><%= listing.title %></h4>
      </div>
      <div>
        <strong>Organization:</strong> <span class=<%= current_user == listing.user ? "listing-organization" : "non-editable" %> data-pk="<%= listing.id %>"><%= listing.organization %></span>
      </div><br>
      <div>

        <strong>Description:</strong> <span class=<%= current_user == listing.user ? "listing-description" : "non-editable" %> data-pk="<%= listing.id %>"><%= listing.description.html_safe %></span>
      </div><br>

      <div>
        <strong>Contact:</strong> <span class="listing-email" data-pk="<%= listing.id %>"><%= mail_to listing.email, "Email" %></span>
      </div>
      <br>
      <div>
        <strong>Salary:</strong> <span class="listing-salary"><%= listing.convert_range(listing.salary) %></span>
      </div>
      <br>
      <div style="padding-bottom: 10px;"><strong>Location:</strong> <%= listing.city %>, <%= listing.state %>
      <br>
      </div>
      <div style="padding-bottom: 5px;"><strong>Last update:</strong> <%= time_ago_in_words(listing.updated_at) %> ago.</div>
      <% if current_user && listing.user_id == current_user.id %>
        <div class="links">
          <%= link_to '', edit_listing_path(listing), class: "edit-button glyphicon glyphicon-edit" %>
          <%= link_to '', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-ban-circle" %><br>
        </div>
      <% end %>
        <div>
          <span class="share">
            <%= render_shareable :buttons => ['facebook', 'linkedin', 'twitter'] %>
          </span>
        </div>
      <br>
    </div>
    <br>
  <% end %>

  <br>
</div>
        <div class="digg_pagination text-center"><%= will_paginate %></div>
<%# if current_user %>

<br>

<%# else %>

<!--   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    <%# link_to 'New Listing', sign %>
  </button> -->
