<%# debug listing[:params] %>
<ul class="nav nav-tabs nav-justified">
  <% if (!params[:us] && !params[:international] && !params[:all]) || params[:my_state] %>
    <li role="presentation" class="active">
  <% else %>
    <li role="presentation">
  <% end %>
    <% if current_user && current_user.state.present? %>
      <%= link_to "#{current_user.state}", listings_path(my_state: true) %>
    <% else %>  
    <!-- if @geocoder_current_state -->
      <%= link_to "State", listings_path(my_state: true) %>
    <% end %>
    </li>
  
  <% if params[:us] %>
    <li role="presentation" class="active">
  <% else %>
    <li role="presentation">
  <% end %>
    <%= link_to "United States", listings_path(us: true) %>
    </li>

  <% if params[:international] %>
    <li role="presentation" class="active">
  <% else %>
    <li role="presentation">
  <% end %>
    <%= link_to "International", listings_path(international: true) %>
    </li>

  <% if params[:all] %>
    <li role="presentation" class="active">
  <% else %>
    <li role="presentation">
  <% end %>
    <%= link_to "All", listings_path(all: true) %>
    </li>
</ul>

<% if params[:search].blank? && remote_ip && !params[:all] && !params[:tag] && !params[:international] && !params[:us] %>
  <div style="padding-top:1%;">
    <div class="alert alert-info alert-dismissable text-center" style="width:70%; margin: 0 auto;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      You're currently seeing jobs for the state we think you're in (<strong><%= current_state %></strong>). If you'd prefer to see all jobs, click <strong><%= link_to 'here', listings_path(all: true), class: "alert-link" %></strong>.
    </div>
  </div>
<% end %>

<h3 class="text-center page-title">Interque Job Postings</h3>

<div class="listings-container">
  <% @listings.each do |listing| %>
    <div class="job-posting text-center" data-pk="<%= listing.id %>">
      <div>
        <p>Work at <strong><%= listing.organization %></strong> as a <%= link_to listing.title, listing_path(listing) %> in
        <% if listing.state && listing.city %>
          <%= listing.city %>, <%= listing.state %>
        <% elsif listing.city && !listing.state %>
          <%= listing.city %>
        <% elsif listing.location %>
          <%= listing.location %>
        <% end %>
        <span class="listing-updated">(<%= time_ago_in_words(listing.created_at) %> ago)</span>

        <% if (current_user && listing.user_id == current_user.id) || (current_user && current_user.admin) %>
          <%= link_to '', edit_listing_path(listing), class: "edit-button glyphicon glyphicon-edit" %>
          <%= link_to '', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-ban-circle" %><br>
        <% end %>
        </p>
      </div>
    </div>

  <% end %>
</div>


<% unless params[:search] || params[:tag] %>
  <div class="digg_pagination text-center"><%= will_paginate %></div>
<% end %>

