<h3 class="text-center page-title">Interque Job Postings</h3>

<div>
  <% @listings.each do |listing| %>
    <div class="job-posting col-md-4 col-md-offset-4">
      <div class="listing-title">
        <h4><%= listing.title %></h4>
      </div>
      <div>
        Organization: <%= listing.organization %>
      </div><br>
      <div>
        Description: <%= listing.description %> 
      </div><br>

      <div>
        Contact: <%= listing.email %>
      </div>
      <br>
      <div>
        Salary: <%= listing.convert_range(listing.salary) %>
      </div>
      <br>
      <div>Location: <%= listing.city %>, <%= listing.state %></div>
      <br>
      <div class="links">
        <%= link_to 'Edit', edit_listing_path(listing) %>
        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %><br>
      </div>
      <br>
    </div>
    <br>
  <% end %>

  <br>
</div>
        <div class="digg_pagination text-center"><%= will_paginate %></div>
<%# if current_user %>

<br>

<%# else %>

<!--   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    <%# link_to 'New Listing', sign %>
  </button> -->