<h4 class="text-center">Technology Demand</h4>
<%# javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<ul class="nav nav-tabs">
  <% if !params[:pie] && !params[:geo] %>
    <li role="presentation" class="active">
  <% else %>
    <li role="presentation">
  <% end %>
    <%= link_to "column", data_path(column: true) %>
  </li>

  <% if params[:pie] %>
    <li role="presentation" class="active">
  <% else %>
    <li role="presentation">
  <% end %>
      <%= link_to "pie", data_path(pie: true) %>
  </li>

  <% if params[:geo] %>
    <li role="presentation" class="active">
  <% else %>
    <li role="presentation">
  <% end %>
      <%= link_to "geo", data_path(geo: true) %>
    </li>

  <%# if params[:table] %>
    <!-- <li role="presentation" class="active"> -->
  <%# else %>
    <!-- <li role="presentation"> -->
  <%# end %>
    <%# link_to "table", data_path(table: true) %>
  <!-- </li> -->
</ul>
  <%# column_chart Technology.group(:name).where(:state => 'FL').count, min: 5 %>
<% if params[:column] %>
  <%# column_chart Technology.group(:name).count, min: 40 %>
  <%= column_chart charts_tech_name_path %>
  <%# bar_chart Technology.group(:name).count, min: 5 %>
<% elsif params[:pie] %>
  <%# pie_chart Technology.group(:name).count, min: 40 %>
  <%= pie_chart charts_tech_name_path %>
<%# elsif params[:table] %>
  <!-- <table class="table" align="center">
    <th class="text-center">Technology</th>
    <th class="text-center">Postings</th> -->

    <%# technologies = [] %>
    <%# @technologies.each do |t| %>

      <%# unless technologies.include?(t.name) %>
        <%# technologies << t.name %>
        <%# if Technology.where(:name => t.name).count > 40 %>
          <tr>
            <td class="text-center"><%# t.name %></td>
            <td class="text-center"><%# Technology.where(:name => t.name).count %></td>
          </tr>
        <%# end %>
      <%# end %>
    <%# end %>
  <!-- </table> -->
<% elsif params[:geo] %>
  <%= geo_chart Technology.group(:state).count, library: {region: 'US', resolution: 'provinces'} %>
  <h5 class="text-center">Number of Jobs by US State</h5>
<% else %>
  <%= column_chart charts_tech_name_path %>
<% end %>
