<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/img/loading.gif">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/img/clear.png">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<header>
	<nav class="navbar">
	<!-- MAIN LOGO -->
		<div id="logo" class="nav-logo"><%= link_to image_tag('interque-white.png', size: "500x91"), root_path, class:"hidden-xs" %></div>
	<!-- MOBILE LOGO -->
		<div class="visible-xs text-center"><%= image_tag('iq_Logo.png', width:"275")  %></div>
		<div class="hidden-xs buttons">
      <%= link_to 'Home', "http://interque.co", class: "btn btn-success" %>

    	<!-- Button trigger modal -->
		    <button type="button" class="btn btn-primary new-listing" data-toggle="modal" data-target="#myModal">
		      New Listing
		      <%# link_to 'New Listing', new_listing_path %>
		    </button>

		    <%= link_to 'Job Board', listings_path, class: "btn btn-success" %>

		    <!-- Search -->
		    <div class="search-container">
		      <%= form_tag listings_path, :method => 'get' do %>
		        <div id="search-bar">
		          <%= text_field_tag :search, params[:search], class: "search-bar", placeholder: "filter by title" %>
		          <%= submit_tag "Filter", :name => nil, class: "search-button" %>
		        </div>
		      <% end %>
		  </div>
		</div>



<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Create New Listing</h4>
          </div>
          <div class="modal-body">
            <% if current_user %>
              <%= render 'listings/form' %>
            <% else %>
              <div class="alert alert-danger modal-warning" role="alert">Please <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to add a job.</div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

	</nav>
		<!-- SIGN IN LINKS AND LOGOUT -->
			<div class="text-left hidden-xs" id="login-links">
				<% if user_signed_in? %>
					Logged in as <strong><%= current_user.email %></strong>.
					<%= link_to 'Edit profile', edit_user_registration_path %> |
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				<% else %>
					<%= link_to "Sign up", new_user_registration_path %> |
					<%= link_to "Login", new_user_session_path %>
				<% end %>
</header>
	
<body>

<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58543120-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
